*{
    margin: 0;padding: 0;
}

header{
    width:100% ;
}

.navsection{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;   
    padding: 0px 16px 5px 12px;
    box-sizing: border-box;

}

.logo{
    padding: 16px;
}

.mainhtml{
    
    background-color: #282A35;
    font-family: sans-serif;
    width: 100%

}

/* .leftside{
    float: left;
    width: 40%;
    padding: 3%;
    text-align: center;
} */

.rightside{
    padding: 3%;
    width: 93%;
    
}

.grey_background{
    background-color: #e7e9eb;
    color: black;
    height: 100%;
}

.rounded_corners{
    border-radius: 5px;
}

span{
    display: block;
}

.shadow{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.color_pink{
    background-color: #ffc0c7;
    padding: 24px;
    color: black;
    border-radius: 5px;

}

.color_yellow{
    background-color: #fff4a3;
    padding: 24px;
    color: black;
    border-radius: 5px;

}

.color_grey{
    background-color: #f3ecea;
    padding: 24px;
    color: black;
    border-radius: 5px;

}

.color_ocengreen{
    background-color: #d9eee1;
    padding: 24px;
    color: black;
    border-radius: 5px;

}

.color_greenblue{
    background-color: #96d4d4;
    padding: 24px;
    color: black;
    border-radius: 5px;

}

.color_purplegrey{
    background-color: #e7e9eb;
    padding: 24px;
    color: black;
    border-radius: 5px;

}

.table4col{
    padding: 2% 3%;
    width: 25%;
}

.table2col{
    padding: 2% 3%;
    width: 100%;
    
}


